<app-sidebar></app-sidebar>

     <!-- Page title-->
     <div class="border-bottom pt-5 mt-2 mb-5">
        <h1 class="mt-2 mt-md-4 mb-3 pt-5">Mensajes</h1>
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
          <p class="text-muted">Este módulo lista todos los mensajes de la plataforma.</p>
         
        </div>
      </div>

      <div class="card box-shadow-sm">
            <div class="card-header">
                <h5 style="margin-bottom: 0px;">Los mensajes</h5>
            </div>
          
            <div class="card-body" *ngIf="!load_data">
                 <!-- Product review -->
                  <ng-container *ngIf="mensajes.length > 0">
                    <div class="mb-4 pb-4 border-bottom" *ngFor="let item of mensajes| slice:(page -1)*pageSize: (page-1)* pageSize + pageSize ; let indice = index">
                      <div class="row">
                        <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                          <h3 class="mb-2 fs-lg">{{item.cliente}}</h3>
                          <span class="d-block mb-3 fs-sm text-muted">{{item.createdAt|date}}</span>
                          <span class="badge bg-primary" style="color: aliceblue;" *ngIf="item.estado=='Abierto'">{{item.estado}}</span>
                          <span class="badge bg-danger" style="color: aliceblue;" *ngIf="item.estado=='Cerrado'">{{item.estado}}</span>
                        </div>
                        <div class="col">
                          <p class="mb-3">
                            <a class="me-1 fw-bold text-decoration-none" >{{item.correo}}</a>
                           {{item.mensaje}}
                          </p>
                          <div class="d-flex justify-content-between">
                            <a class="nav-link p-0 fs-sm" data-toggle="modal" [attr.data-target]="'#estadoModal-'+item._id" *ngIf="item.estado != 'Cerrado'" >
                              <i class="ci-chat me-2 fs-base align-middle mt-n1"></i>
                              Cerrar mensaje
                            </a>
                            <div class="modal fade" id="estadoModal-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Cerrar el mensaje {{item._id}}</h4>
                                    <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                                  </div>
                                  <div class="modal-body">
                                    <p class="fs-sm">Desea cerrar este mensaje?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                    <button *ngIf="!load_btn" class="btn btn-primary btn-sm" type="button" (click)="cerrar(item._id)">Si, cerrar</button>
                                    <button *ngIf="load_btn" type="button" class="btn btn-secondary">
                                      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                                      Cerrando...
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="btn-group dropdown d-inline-block mb-3 me-2" *ngIf="item.estado=='Cerrado'">
                              <button class="btn btn-outline-secondary btn-sm dropdown-toggle show" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eliminar</button>
                              <div class="dropdown-menu " >
                                 <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">Eliminar Mensaje</a>
                               </div>
                            </div> 
                       
                            <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Eliminar a mensaje {{item._id}}</h4>
                                    <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                                  </div>
                                  <div class="modal-body">
                                    <p class="fs-sm">Desea eliminar este mensaje?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                                    <button class="btn btn-primary btn-sm" type="button" (click)="eliminar(item._id)">Confirmar eliminacion</button>
                                  </div>
                                </div>
                              </div>
                            </div> 
                    
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="mensajes.length === 0">
                    <tbody>
                      <tr>
                        <td colspan="2" class="text-center"> 
                          <span  > No hay Mensajes en la plataforma </span> 
                        </td>
                        
                      </tr>
                    </tbody>
                  </ng-container>
            </div>
            <div class="card-body" *ngIf="load_data" style="text-align: center;">
              <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>
            <div class="card-footer">
              <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="mensajes.length"></ngb-pagination>
          </div>
      </div>    


